.jumbotron {
  background-image: url("../../assets/img80.jpg");
  background-position: center;
  background-size: cover;
  font-size: 40%;
  color: white;
  padding: 10%;
  opacity: 0.83;
  text-align: center;
}

.page {
  background-image: url("../../assets/img02.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: larger;
  font-weight: bold;
  z-index: 1;
  color: white;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.blockquote-footer {
  color: black;
}

#aa {
  color: darkgrey;
  font-size: 12px;
  list-style-type: none;
}
