<div class="page">
  <div class="jumbotron">
    <h1>Quotes App</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <li appHighligh> {{quote.userName}} <span class="blockquote-footer"> posted {{quote.timePosted|time}} days
            ago.</span></li>
        <span id="aa" class="blockquote-footer">{{quote.author}}</span>
        <app-quote-section [quotes]='quote' (isDeleted)='quoteDelete($event,i)'></app-quote-section>
        <app-votes></app-votes>
      </div>
    </div>
    <div class="col-md-6">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
</div>
