<div class="container">
  <h1 class="img1">Quotes App</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor='let quote of quotes;let i = index'>
          {{quote.userName}} <span class="blockquote-footer"> posted {{quote.timePosted|time}} days ago.</span>
          <app-quote-section [quotes]='quote' (isDeleted)='quoteDelete($event,i)'></app-quote-section>
          <app-votes></app-votes>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
</div>
