.img1 {
  background-image: url("../../assets/img2.jpg");
  color: white;
  padding: 9%;
  margin-top: 4px;
  opacity: 0.7;
}

.container {
  background-image: url("../../assets/img4.jpg");
  color: white;
}
